{% extends "layout" %}

{% block pageHeader %}
    <div class="page-header">
        <h1>Szentírás.eu <span class="hidden-xs hidden-sm sitesubtitle">Digitális Biblia 2012 óta. (Régi <b>szentiras.hu</b>)</span></h1>
    </div>
{%  endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row g-3 mb-4">
            <div class="col-12 col-lg-6">
                {% include 'readTile' %}
            </div>
            
            <div class="col-12 col-lg-6">
                {% include 'searchTile' %}
            </div>
        </div>

        <div class="row g-3 mb-4">
            <!-- Translation select tile (1 wide) -->
            <div class="col-12 col-md-6 col-lg-3">
                {% include 'translationTile' with { cathBibles: cathBibles, otherBibles: otherBibles } %}
            </div>
            
            <!-- New Testament tile (1 wide) -->
            <div class="col-12 col-md-6 col-lg-3">
                {% include 'newTestamentTile' %}
            </div>
            
            <!-- Old Testament tile (1 wide) -->
            <div class="col-12 col-md-6 col-lg-3">
                {% include 'oldTestamentTile' %}
            </div>
            
            <!-- Psalms tile (1 wide) -->
            <div class="col-12 col-md-6 col-lg-3">
                {% include 'psalmsTile' %}
            </div>
        </div>

        <!-- Additional tiles section (for future expansion) -->
        <div class="row g-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <i class="bi-grid-3x3-gap me-2"></i>
                        További lehetőségek
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                           
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="card h-100">
                                    <div class="card-body text-center">
                                        <i class="bi-calendar-week display-4 text-success mb-3"></i>
                                        <h5 class="card-title">Olvasási tervek</h5>
                                        <p class="card-text">Napi olvasási tervek a Bibliából</p>
                                        <a href="/olvasasi-tervek" class="btn btn-outline-success">Megnyitás</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="card h-100">
                                    <div class="card-body text-center">
                                        <i class="bi-search-heart display-4 text-warning mb-3"></i>
                                        <h5 class="card-title">MI Keresés</h5>
                                        <p class="card-text">Keresés mesterséges intelligenciával</p>
                                        <a href="/ai-search" class="btn btn-outline-warning">Megnyitás</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="card h-100">
                                    <div class="card-body text-center">
                                        <i class="bi-info-circle display-4 text-info mb-3"></i>
                                        <h5 class="card-title">Információk</h5>
                                        <p class="card-text">A projektről és használati útmutató</p>
                                        <a href="/informaciok" class="btn btn-outline-info">Megnyitás</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="card h-100">
                                    <div class="card-body text-center">
                                        <i class="bi-tools display-4 text-primary mb-3"></i>
                                        <h5 class="card-title">Fejlesztőknek</h5>
                                        <p class="card-text">API és fejlesztői dokumentáció</p>
                                        <a href="/api" class="btn btn-outline-primary">Megnyitás</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block abbrevlist %}
    {% include 'bookAbbrevList' %}
{% endblock %}

{% set js = ['pages/home'] %}