<div class="card h-100 border-0" style="background-color: #f8f7f4;">
    <div class="card-body text-center">
        <div class="d-flex align-items-center justify-content-center mb-3">
            <i class="bi-book display-5 me-3" style="color: #8b8fa8;"></i>
            <h5 class="card-title mb-0" style="color: #4a5568;">Olvasás</h5>
        </div>
        <p class="card-text mb-3 d-none d-md-block" style="color: #718096;">Válassz könyvet/fejezetet/verset</p>
        
        <div class="mt-4 text-start">
            <div class="row g-2 mb-3">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="referenceInput" placeholder="pl. 1Kor1,-13" style="border-color: #d4cfc9; background-color: #fdfcfb;">
                        <button class="btn" id="goToReferenceButton" type="button" disabled style="color: #8b8fa8; border-color: #d4cfc9; background-color: #ede9e4;">
                            <i class="bi-arrow-right"></i> Ugrás
                        </button>
                    </div>
                </div>
            </div>

            {% include 'quickChapterSelector' %}

        </div>
    </div>
</div>