{% extends "layout" %}

{% block pageHeader %}
    <div class="page-header">
        <h1>Eszközök</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <p>Különböző eszközök és segédletek a Szentírás tanulmányozásához.</p>
        
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-puzzle"></i> Memóriajáték készítő</h5>
                        <p class="card-text">Készítsen memóriajátékot bibliai igékből. Adjon meg igehelyeket, és az eszköz automatikusan létrehozza a játékkártyákat.</p>
                        <a href="/tools/memorygame" class="btn btn-primary">Megnyitás</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-puzzle-fill"></i> Online memóriajáték</h5>
                        <p class="card-text">Játsszon memóriajátékot bibliai versekkel közvetlenül a böngészőben! Állítsa be a tábla méretét, és találja meg az összetartozó versrészleteket.</p>
                        <a href="/tools/memory-game-play" class="btn btn-primary">Megnyitás</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-book-half"></i> Találd ki a könyvet</h5>
                        <p class="card-text">Találja ki, melyik bibliai könyvből származik a megjelenített igeszakasz! Minden tippnél visszajelzést kap a szövetségről, szekcióról és kezdőbetűről.</p>
                        <a href="/tools/guessbook" class="btn btn-primary">Megnyitás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
