{% extends 'layout' %}
{% set pageTitle='Újdonságok | Szentírás' %}

{% block content %}
<div class="markdown-content mx-auto my-4">
    {% apply markdown_to_html %}
    {% include 'info.news' %}
    {% endapply %}
</div>
{% endblock %}