{% for verseContainer in compareVerseContainers %}
    <div>
        {% include 'textDisplay.breadcrumb' with {'book': verseContainer.book, 'bookRef': verseContainer.bookRef } %}
    </div>
    <div class="mb-2">
        {{ include('textDisplay.parsedVerseContainer', { 'verseContainer' : verseContainer, 'translation' : compareTranslation, 'verseToPlaces': {} }) }}
    </div>
    <hr>
{% endfor %}
